<link rel="stylesheet" href="/css/form-general.css">

<h1> <%= title %> </h1>

<%- messages() %>
<% if (errors) { %>
        <ul class="notice">
    <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
<%  }) %>
    </ul>
<% } %>

<div class="form-container">
    <h2>ALL FIELDS ARE REQUIRED</h2>
    <form action="/inv/add-inventory" method="post">

        <!-- Classification -->
        <label for="classification">Classification</label>
        <select name="classification_id" id="classification" required value="<%= locals.classification_id %>">
            <%- classificationSelect %>
        </select>

        <!-- Make -->
        <label for="make">Make</label>
        <input type="text" name="inv_make" id="make" minlength="3" placeholder="Min of 3 characters" required value="<%= locals.inv_make %>">

        <!-- Model -->
        <label for="model">Model</label>
        <input type="text" name="inv_model" id="model" minlength="3" placeholder="Min of 3 characters" required value="<%= locals.inv_model %>">

        <!-- Description -->
        <label for="description">Description</label>
        <input type="text" name="inv_description" id="description" required value="<%= locals.inv_description %>">

        <!-- Image Path -->
        <label for="image">Image Path</label>
        <input type="text" name="inv_image" id="image" required placeholder="/images/vehicles/no-image.png" value="/images/vehicles/no-image.png" pattern="^/images/vehicles/.*$">

        <!-- Thumbnail Path -->
        <label for="thumbnail">Thumbnail Path</label>
        <input type="text" name="inv_thumbnail" id="thumbnail" required placeholder="/images/vehicles/no-image.png" value="/images/vehicles/no-image.png" pattern="^/images/vehicles/.*$">

        <!-- Price -->
        <label for="price">Price</label>
        <input type="text" name="inv_price" id="price" required placeholder="Decimal or Integer" pattern="^\d+(\.\d{1,2})?$" value="<%= locals.inv_price %>">

        <!-- Year -->
        <label for="year">Year</label>
        <input type="text" name="inv_year" id="year" required placeholder="4-digit year" pattern="^\d{4}$" value="<%= locals.inv_year %>">
        
        <!-- Miles -->
        <label for="miles">Miles</label>
        <input type="text" name="inv_miles" id="miles" required placeholder="digits only" pattern="^\d+$" value="<%= locals.inv_miles %>">

        <!-- Color -->
        <label for="color">Color</label>
        <input type="text" name="inv_color" id="color" required value="<%= locals.inv_color %>">

        <button type="submit">Add Vehicle</button>
    </form>
</div>

